* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-red: #E3646E;
  --color-purple: #bb72e9;
  --color-blue: #3994db;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;
  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;

  --font-asap: "Asap", sans-serif;
  --asap-title-sm: bold 16px/120% var(--font-asap);
  --asap-tittle-md: bold 24px/120% var(--font-asap);
  --asap-title-lg: bold 56px/120% var(--font-asap);

  --subtitle: 20px/1.2 "Inconsolata", monospace;

  --font-maven: "Maven Pro", sans-serif;
  --maven-text-sm: 14px/140% var(--font-maven);
  --maven-text-md: 16px/1.4 var(--font-maven);
}

a {
  text-decoration: none;
  color: inherit;
}

